<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/css/TelaFeedcss.css">
</head>
<body>
    <!-- Hot Bar - Barra superior -->
    <div class="hot-bar">
        <div class="left-side">
            <img src="/imagem/logo_find_pet.webp" alt="Logo" class="hot-bar-logo">
            <div class="find-pet">Find Pet</div>
        </div>
        <div class="right-side">
            <div class="hot-bar-item"><a href="#">Sobre nós</a></div>
            <div class="hot-bar-item"><a href="#">Redes Sociais</a></div>
            <div class="hot-bar-item login"><a href="#">Login</a></div>
        </div>
    </div>

</body>
</html>

